extends layout

block content
    #wrapper

        h1 Let it snow!

        p Normal page body content goes here.

        p Pellentesque velit leo, semper sed fermentum eget, mollis vitae massa. Morbi ut neque et turpis pharetra lobortis. Curabitur in est vitae risus sagittis dictum sit amet vitae arcu. Vivamus fringilla, eros a placerat pellentesque, turpis ligula sodales purus, nec lobortis est sapien quis quam. Sed id magna neque, eget mollis ligula. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

        h2 Heading

        p Ut ac turpis non lectus commodo malesuada. Nunc feugiat gravida eros non fringilla. Ut sit amet mauris ut dui interdum aliquam id id mi. Curabitur auctor tempus dolor, id euismod justo laoreet nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas vulputate gravida dui et bibendum. Nullam malesuada nibh sed libero porta volutpat. In convallis rutrum ante, non ullamcorper nibh lacinia vel. Pellentesque ullamcorper euismod tellus, et placerat mi blandit quis. In vestibulum mauris vel risus semper tristique. Vestibulum vitae nulla ipsum.

        p Pellentesque velit leo, semper sed fermentum eget, mollis vitae massa. Morbi ut neque et turpis pharetra lobortis. Curabitur in est vitae risus sagittis dictum sit amet vitae arcu. Vivamus fringilla, eros a placerat pellentesque, turpis ligula sodales purus, nec lobortis est sapien quis quam. Sed id magna neque, eget mollis ligula. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

        h2 Heading

        p Pellentesque velit leo, semper sed fermentum eget, mollis vitae massa. Morbi ut neque et turpis pharetra lobortis. Curabitur in est vitae risus sagittis dictum sit amet vitae arcu. Vivamus fringilla, eros a placerat pellentesque, turpis ligula sodales purus, nec lobortis est sapien quis quam. Sed id magna neque, eget mollis ligula. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

        h2 Heading

        p Ut ac turpis non lectus commodo malesuada. Nunc feugiat gravida eros non fringilla. Ut sit amet mauris ut dui interdum aliquam id id mi. Curabitur auctor tempus dolor, id euismod justo laoreet nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas vulputate gravida dui et bibendum. Nullam malesuada nibh sed libero porta volutpat. In convallis rutrum ante, non ullamcorper nibh lacinia vel. Pellentesque ullamcorper euismod tellus, et placerat mi blandit quis. In vestibulum mauris vel risus semper tristique. Vestibulum vitae nulla ipsum.

        p Ut ac turpis non lectus commodo malesuada. Nunc feugiat gravida eros non fringilla. Ut sit amet mauris ut dui interdum aliquam id id mi. Curabitur auctor tempus dolor, id euismod justo laoreet nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas vulputate gravida dui et bibendum. Nullam malesuada nibh sed libero porta volutpat. In convallis rutrum ante, non ullamcorper nibh lacinia vel. Pellentesque ullamcorper euismod tellus, et placerat mi blandit quis. In vestibulum mauris vel risus semper tristique. Vestibulum vitae nulla ipsum.

        p Pellentesque velit leo, semper sed fermentum eget, mollis vitae massa. Morbi ut neque et turpis pharetra lobortis. Curabitur in est vitae risus sagittis dictum sit amet vitae arcu. Vivamus fringilla, eros a placerat pellentesque, turpis ligula sodales purus, nec lobortis est sapien quis quam. Sed id magna neque, eget mollis ligula. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

        p Ut ac turpis non lectus commodo malesuada. Nunc feugiat gravida eros non fringilla. Ut sit amet mauris ut dui interdum aliquam id id mi. Curabitur auctor tempus dolor, id euismod justo laoreet nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas vulputate gravida dui et bibendum. Nullam malesuada nibh sed libero porta volutpat. In convallis rutrum ante, non ullamcorper nibh lacinia vel. Pellentesque ullamcorper euismod tellus, et placerat mi blandit quis. In vestibulum mauris vel risus semper tristique. Vestibulum vitae nulla ipsum.

        p Ut ac turpis non lectus commodo malesuada. Nunc feugiat gravida eros non fringilla. Ut sit amet mauris ut dui interdum aliquam id id mi. Curabitur auctor tempus dolor, id euismod justo laoreet nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas vulputate gravida dui et bibendum. Nullam malesuada nibh sed libero porta volutpat. In convallis rutrum ante, non ullamcorper nibh lacinia vel. Pellentesque ullamcorper euismod tellus, et placerat mi blandit quis. In vestibulum mauris vel risus semper tristique. Vestibulum vitae nulla ipsum.

        p Pellentesque velit leo, semper sed fermentum eget, mollis vitae massa. Morbi ut neque et turpis pharetra lobortis. Curabitur in est vitae risus sagittis dictum sit amet vitae arcu. Vivamus fringilla, eros a placerat pellentesque, turpis ligula sodales purus, nec lobortis est sapien quis quam. Sed id magna neque, eget mollis ligula. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

        h2 Heading

        p Ut ac turpis non lectus commodo malesuada. Nunc feugiat gravida eros non fringilla. Ut sit amet mauris ut dui interdum aliquam id id mi. Curabitur auctor tempus dolor, id euismod justo laoreet nec. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas vulputate gravida dui et bibendum. Nullam malesuada nibh sed libero porta volutpat. In convallis rutrum ante, non ullamcorper nibh lacinia vel. Pellentesque ullamcorper euismod tellus, et placerat mi blandit quis. In vestibulum mauris vel risus semper tristique. Vestibulum vitae nulla ipsum.

        h3 H3

        p some more content

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/js/engine.js')
    script(src='/js/flake.js')
    script(src='/js/client.js')
    script

        // requestAnimFrame / cancelRequestanimFrame shims: http://notes.jetienne.com/2011/05/18/cancelRequestAnimFrame-for-paul-irish-requestAnimFrame.html
        window.requestAnimFrame = (function(){
            return  window.requestAnimationFrame       || 
                window.webkitRequestAnimationFrame || 
                window.mozRequestAnimationFrame    || 
                window.oRequestAnimationFrame      || 
                window.msRequestAnimationFrame     || 
                function(/* function */ callback, /* DOMElement */ element){
                    return window.setTimeout(callback, 1000 / 60);
                };
        })();

        window.cancelRequestAnimFrame = ( function() {
            return window.cancelAnimationFrame          ||
                window.webkitCancelRequestAnimationFrame    ||
                window.mozCancelRequestAnimationFrame       ||
                window.oCancelRequestAnimationFrame     ||
                window.msCancelRequestAnimationFrame        ||
                clearTimeout
        })();

        $(function() {
            Engine.start();
        });
